<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Cover Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/cover.css" rel="stylesheet">
    <link href="/static/css/hackernumber.css" rel="stylesheet">
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">
        <!--
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"></h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="#">Swift</a></li>
                <li><a href="#">Hacker Number</a></li>
              </ul>
            </div>
          </div>
			-->
          <div class="inner cover" id="top-area">
           <h1 class="cover-heading big">Swift Number</h1>
            <p class="lead">Legend has it that by six or fewer repositories of separation, every hacker is connected to Mike Swift, possibly making him the center of the universe. Prove that he isn’t:</p>
            <p class="lead">
            	<input type="text" class="form-control main-input" id="main-input" placeholder="enter your github username">
	            <a href="#" class="btn btn-sm btn-primary" id="trigger-button">Crunchitize me, cap'n</a>
            </p>
          </div>
          <div class="inner" id="results-wrap">
          	<img src="/static/img/ajax-loader.gif" class="loadgif" id="loading-gif">
          	<div id="returnResults">
          	</div>
          	<div id="answer">
          	</div>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Developed in 24 hours at <a href="http://hackru.org">HackRU Spring 2014</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/static/js/swift.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>